<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon"
          th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{mail.complaint.body.introduction}"></p>

<p><strong th:text="#{mail.complaint.body.jobad}"></strong></p>
<div th:if="${sourceSystem}"
     th:text="#{mail.complaint.body.jobad.sourcesystem(${sourceSystem})}"></div>
<div th:if="${jobAdvertisementId}"
     th:text="#{mail.complaint.body.jobad.id(${jobAdvertisementId})}"></div>
<div th:if="${stellennummerEgov}"
     th:text="#{mail.complaint.body.jobad.stellennummeregov(${stellennummerEgov})}"></div>
<div th:if="${stellennummerAvam}"
     th:text="#{mail.complaint.body.jobad.stellennummeravam(${stellennummerAvam})}"></div>
<span th:text="#{mail.complaint.body.jobad.linkToJobAdDetail}"></span>
<a th:href="@{|${linkToJobAdDetail}|}"
   th:text="${linkToJobAdDetail}"></a>


<div th:switch="${complaintType}">
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).BRIBE}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.bribe})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).OFFENSIVE}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.offensive})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).DISCRIMINATION}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.discrimination})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).UNTRUSTWORTHY}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.untrustworthy})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).INACTIVE}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.inactive})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).EMAIL_INCORRECT}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.email-incorrect})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).PHONE_NR_INCORRECT}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.phone_nr_incorrect})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).OCCUPIED}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.occupied})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).LOCATION_INCORRECT}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.location-incorrect})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).WORKLOAD_INCORRECT}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.workload_incorrect})}"></span>
    <span th:case="${T(ch.admin.seco.jobs.services.jobadservice.application.complaint.ComplaintType).TEMPORARY_PERMANENT_INCORRECT}"
          th:text="#{mail.complaint.body.reason(#{mail.complaint.body.complainttype.temporary-permanent-incorrect})}"></span>
</div>


</body>
</html>
